{#Un footer très simple#}
<nav class="navbar bg-body-tertiary">
    <div class="d-flex align-items-center justify-content-center w-100">
      <span class="navbar-text text-center">
        Tous les comics Avengers de Marvel
      </span>
    </div>
</nav>