{#Une nav bar très simple, permettant de revenir à la première page de résultats de comics Avengers#}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href={{ path('app_comics_one', {'page': 1 }, relative = false) }}>Comics Avengers Marvel</a>
    </div>
</nav>
