{% extends 'base.html.twig' %}

{% block title %}Personnages :{% endblock %}

{% block body %}


<section class="container p-3"> 

    {#Dans cet fichier twig, on génère le template de la page affichant tous les personnages d'un comic donné#}
    
    <h1 class="p-3">{{array[0].comic.title}}</h1> 
            
    <h2 class="p-3">Personnages : </h2>  

    <div class="row g-2 g-sm-3 g-md-5">
        {#On boucle sur le tableau de personnages#}
        {% for item in array %}
            <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
                <div class="card h-100" style="max-width: 18rem;">
                    {% if item.image %}
                    <img src={{item.image}} class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body h-100">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                    </div>
                </div>             
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
