{% extends 'base.html.twig' %}

{% block title %}Comics Avengers{% endblock %}


{% block body %}

{# Dans ce fichier twig, j'ai créé le template de ma page de comics Avengers. J'ai utilisé Bootstrap pour avoir le système de colonnes responsives, afin d'adapter l'affichage à la taille de l'écran. Pour l'affichage des comics, j'ai utilisé des cards.#}

<div class="container-fluid">
    <section class="p-3">
    <h1 class="p-3">Comics Avengers</h1>
    
         {#Les liens pour aller à la page d'avant ou d'après #}
        <div class="text-center py-3">
            <a href={{ path('app_comics', {'page': page - 1 }, relative = false) }} alt="pagination"><</a>
            <span>{{page}} / {{(data.total/50)|round(0, 'ceil')}}</span>
            <a href={{ path('app_comics', {'page': page + 1 }, relative = false) }} alt="pagination">></a>
        </div>

        
        <div class="p-3">    
            <div class="row g-2 g-sm-3 g-md-5">
                {#On boucle sur le tableau pour afficher chaque comic#}
                {% for item in array %}
                    <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
                            <div class="card" style="max-width: 18rem;">
                                {% if item.image %}
                                <a href={{ path('app_characters', {'id': item.id }, relative = false) }}>
                                    <img src={{item.image}} class="card-img-top" alt="...">
                                </a>
                                {% endif %}
                                <div class="card-body bg-tertiary">
                                    <h5 class="card-title">{{ item.title }}</h5>
                                    <p class="card-text">{{item.date|date("d/m/Y")}}</p>
                                </div>
                        </div>
                    </div>
                {% endfor %}
            </div>  
        </div>

        {#En bas de page, je répète les liens pour aller à la page d'avant ou d'après #}
        <div class="text-center py-3">
            <a href={{ path('app_comics', {'page': page - 1 }, relative = false) }} alt="pagination"><</a>
            <span>{{page}} / {{(data.total/50)|round(0, 'ceil')}}</span>
            <a href={{ path('app_comics', {'page': page + 1 }, relative = false) }} alt="pagination">></a>
        </div>
    </section>
</div>
{% endblock %}
